section {
    width: 400px;
    margin: auto;
  }
  h1 {
    text-align: center;
    color:aliceblue;
    font-size: 26px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.1); /* Màu nền nhạt để tạo hiệu ứng */
    backdrop-filter: blur(10px); /* Hiệu ứng blur */
    border-radius: 8px; /* Bo góc bảng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    overflow: hidden;
  }
  
  td {
    padding: 15px; /* Tăng khoảng cách padding cho các ô */
    vertical-align: top;
  }
  
  /* Căn label lên trên input */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Khoảng cách giữa label và input */
    color: aliceblue;
  }
  
  input {
    width: 70%;
    padding: 10px ;
    margin-bottom: 10px; /* Khoảng cách giữa các input */
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.7); /* Màu nền input */
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .valid {
    color: green;
    margin-left: 5px;
  }
  
  .invalid {
    color: red;
    margin-left: 5px;
  }
  
  .instructions {
    font-size: 0.8em;
    color: darkblue;
  }
  
  .errmsg {
    color: red;
    font-weight: bold;
    background-color: #f2dede;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  